.logo {
  float: left;
  /* margin: 16px 24px 16px 0; */
  color: white;
  text-decoration: none;
}

.logo:hover {
  color: orange;
  cursor: pointer;
}

.site_layout {
  padding: 0 50px;
  margin-top: 64px;
}

@media (max-width: 800px) {
  .site_layout {
    padding: 0;
    margin-top: 50px;
  }
}
.site_layout_background {
  background: #fff;
  padding: 24px;
  min-height: 85vh;
  max-width: 1800px;
  margin: 30px auto;
  margin-bottom: 0;
}

.menu_items {
  float: right;
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.menu_item {
  text-align: center;
}
